<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Patient Filter: by Lenya Hope, lehone</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2>Patient Filter</h2>
<hr>

<table>
    <thead>
    <tr>
        <td>S/N</td>
        <td>Name</td>
        <td>Birth Date</td>
        <td>Gender</td>
        <td>Encounters</td>
        <td>Observations</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="patient: ${greeting}">
        <td th:text="${patient.id}">/td>
        <td th:text="${patient.active}">/td>
        <td th:text="${patient.birthDate}">/td>
        <td th:text="${patient.gender}">/td>
        <td th:text="${patient.deceasedBoolean}">/td>
    </tr>
    </tbody>
</table>
</body>
</html>